<app-navigation>
  <!-- <mat-progress-bar [mode]="'indeterminate'" *ngIf='isLoading'></mat-progress-bar> -->

  <router-outlet></router-outlet>

  <mat-card *ngIf="!isOnline && showWarning && !serverError" class="warning-card error-or-none-found container">
    <span>
      You're offline.<br>
      Please check your internet connection. <br>
      <button mat-raised-button color="warn" (click)="reload()" class="button-top-down-margin"> Refresh </button> <br>
    </span>
  </mat-card>

  <mat-card *ngIf="serverError && !isLoading && isOnline && !showWarning" class="warning-card error-or-none-found container">
    <span>
      An error occured while communicating with the server. <br>
      Please retry again later or call technical support. <br>
      <button mat-raised-button color="warn" (click)="reload()" class="button-top-down-margin"> Retry </button>
    </span>
  </mat-card>

</app-navigation>
