<div class="container top-margin">
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <div *ngIf="!isLoading" class="page-header">
    <h5> Profile </h5>
    <div class="page-header-flex-div"></div>
    <button mat-stroked-button color="primary" (click)="backButton()" *ngIf="enableBack"> Back </button>
  </div>

  <div *ngIf="!isThereUser && !isLoading && !serverError" class="error-or-none-found">
    <span> No profile data available </span>
  </div>

  <mat-card *ngIf="serverError && !isLoading" class="warning-card error-or-none-found">
    <span>
      An error occured while communicating with the server. <br>
      Please retry again later. <br>
      <button mat-raised-button color="warn" (click)="ngOnInit()" class="button-top-down-margin"> Retry </button> <br>
      If the error persists, please call technical support with error code ({{errorCode}})
    </span>
  </mat-card>

  <!-- View Mode -->
  <div class="user-info" *ngIf="isThereUser && viewMode && !isLoading && !serverError">
    <div class="row">
      <div class="col-lg-4 profile-main-data">
        <div>
          <h4>
            {{userData?.First_Name + ' ' + userData?.Last_Name || "—"}}
          </h4>
          <p mat-line> {{userData?.Email || "—"}}</p>
          <p mat-line *ngIf="!userData?.Title"> — </p>
          <p mat-line *ngIf="!userData?.UserName"> — </p>
        </div>
        <div class="edit-button-container">
          <button mat-stroked-button color="primary" (click)="edit()" *ngIf="enableEdit"> Edit Profile </button>
        </div>
      </div>

      <div class="col-sm">
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>cake</mat-icon>
            <h4 mat-line> Birth Date </h4>
            <p mat-line> {{(userData?.Birth_Date | date)  || "—"}}</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>domain</mat-icon>
            <h4 mat-line> City </h4>
            <p mat-line> {{userData?.City || "—"}}</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>group</mat-icon>
            <h4 mat-line> Gender </h4>
            <p mat-line *ngIf="userData?.Gender === 'M'"> Male </p>
            <p mat-line *ngIf="userData?.Gender === 'F'"> Female </p>
            <p mat-line *ngIf="!userData?.Gender"> — </p>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="col-sm">
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>work</mat-icon>
            <h4 mat-line> Authority </h4>
            <p mat-line *ngIf="userData?.Title === 'Site_Administrator'"> Admin </p>
            <p mat-line *ngIf="userData?.Title === 'Opera_Management'"> Manager </p>
            <p mat-line *ngIf="userData?.Title === 'Customer'"> Customer </p>
            <p mat-line *ngIf="!userData?.Title"> — </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>credit_card</mat-icon>
            <h4 mat-line> National ID </h4>
            <p mat-line> {{userData?.User_Address || "—"}}</p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
