<div class="container top-margin">
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <div class="page-header" *ngIf="!isLoading">
    <h5> Cancel Events </h5>
    <div class="page-header-flex-div"></div>
    <button mat-stroked-button color="primary" [routerLink]="['/']"> Back </button>
  </div>

  <div *ngIf="!thereAreEvents && !isLoading && !serverError" class="error-or-none-found">
    <span> No Events Found </span>
  </div>

  <mat-card *ngIf="serverError && !isLoading" class="warning-card error-or-none-found">
    <span>
      An error occured while communicating with the server. <br>
      Please retry again later. <br>
      <button mat-raised-button color="warn" (click)="ngOnInit()" class="button-top-down-margin"> Retry </button> <br>
      If the error persists, please call technical support with error code ({{errorCode}})
    </span>
  </mat-card>

  <div [hidden]="isLoading || !thereAreEvents || serverError">
    <div>
      <mat-form-field class="form-width">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class="table-overflow mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span> Event ID </span>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.ID || "—"}} </td>
        </ng-container>

        <ng-container matColumnDef="Event_Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span> Event Name </span>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.Event_Name || "—"}} </td>
        </ng-container>

        <ng-container matColumnDef="Event_Description  ">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span> Event_Description   </span>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.Event_Description   || "—"}} </td>
        </ng-container>

        <ng-container matColumnDef="Event_Poster">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span> Poster </span>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.Event_Poster || "—"}} </td>
        </ng-container>

        <ng-container matColumnDef="Event_DateTime ">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span> Date & Time </span>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.Event_DateTime  | date:'medium' || "—"}} </td>
        </ng-container>

        <ng-container matColumnDef="Hall_Number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span> Hall Number </span>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.Hall_Number || "—"}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>
            <span> Actions </span>
          </th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button color="warn" (click)="cancelEvent(row.ID)"> Cancel </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" class="data">
        </tr>
      </table>
    </div>
    <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[10, 20, 30, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
