<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="col-6" style="position: relative">
          <a href="#" rel="noopener noreferrer">
            <img class="footer-logo" src="assets/images/logo/logo.png" alt="Company Logo">
          </a>
          <p style="position: absolute; bottom: 0; cursor: default"> © {{year}} CUFE </p>
        </div>

        <div class="col-6">
          <h6>COMPANY</h6>
          <ul>
            <li><a [routerLink]="['/about']">About Us</a></li>
            <li><a href="#" target="_blank" rel="noopener noreferrer">Contact</a></li>
            <li><a href="#" target="_blank" rel="noopener noreferrer">Products</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm">
        <div class="col-6">
          <h6>CONNECT</h6>
          <div class="footer-social">
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"
              aria-label="Visit our facebook page"><i class="fab fa-facebook-square fa-fw"></i></a>
            <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"
              aria-label="Visit our twitter page"><i class="fab fa-twitter-square fa-fw"></i></a>
          </div>
          <div class="footer-social">
            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"
              aria-label="Visit our instagram page" class="insta"><i class="fab fa-instagram fa-fw"></i></a>
            <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer"
              aria-label="Visit our linkedin page"><i class="fab fa-linkedin fa-fw"></i></a>
          </div>
        </div>

        <div class="col-6">
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img class="footer-logo" src="assets/images/logo/cufe.png" alt="CUFE Logo">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>