.footer {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-shadow: #000000;
  background-color: #f9f8f4;
  border: 1px solid #dfe1e5;
  box-shadow: #000000;
  padding: 32px 32px 0 32px;
  margin-top: 20px;
}

.footer-logo {
  width: 120px;
}

.footer h6 {
  color: #574E00;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.footer ul {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
}

.footer ul li {
  font-size: 14px;
  margin: 0 0 5px 0;
}

.footer a {
  color: #000000;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-social {
  margin: 5px 0 0 0;
}

.footer-social a:last-child {
  margin: 0 0 0 10px;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-twitter-square {
  color: #28aae1;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-linkedin {
  color: #0077b5;
}

a i {
  font-size: 1.5rem;
}

.col-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.text-right {
  text-align: right;
}

@media only screen and (max-width: 360px) {
  .footer-logo {
    width: 100%;
  }
}
